@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Teste de Conhecimento da empresa <a href="https://camposdealer.com.br/" target="_blank">Campos Dealer</a>, utilizando o .NET Framework 6.0 em uma estrutura MVC.</p>
    <form class="justify-content-md-start" asp-controller="Home" asp-action="LoadData" method="post">
        <button type="submit" class="btn btn-primary">Adicionar dados</button>
    </form>
    
</div>
