@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Teste de Conhecimento da empresa <a href="https://camposdealer.com.br/" target="_blank">Campos Dealer</a>, utilizando o .NET Framework 6.0 e uma estrutura MVC.</p>
</div>
