html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body a {
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    border: 1px solid red;
}

footer a {
    text-decoration: none;
}

.logo {
    height: 100px;
    width: 100px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 5s;
}

.field-validation-error {
    color: #e01d1d;
}