@{
    ViewData["Title"] = "Confimação apagar de Clientes";
}

<div class="text-center">
    <h3 class="display-5">Deseja mesmo apagar o cliente (cliente)?</h3>
</div>
<a type="submit" class="btn btn-danger">Apagar</a>
<a class="btn btn-secondary" asp-controller="Cliente" asp-action="Index" role="button">Cancelar</a>